@import url("https://cdn.web-fonts.ge/fonts/bpg-nino-medium-caps/css/bpg-nino-medium-caps.min.css");
@import url("https://cdn.web-fonts.ge/fonts/bpg-mikheil-stefane/css/bpg-mikheil-stefane.min.css");
@import url("https://cdn.web-fonts.ge/fonts/archyedt-bold/css/archyedt-bold.min.css");
@import url('https://fonts.cdnfonts.com/css/muscular-strength');
body {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 100px
}



.container {
    max-width: 1240px;
    width: 90%;
    margin: 0 auto;
}

.slogan {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    height: 700px;
    display: flex;
    gap: 50px ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.fit {
    font-family: 'MUSCULAR STRENGTH';
    font-size: 50px;
    margin: 0 auto;
    margin-top: 10px;
    height: 70px;
    float: left;
        
}

.textdiv {
    height: 60px;
}

h3 {
    font-size: 50px;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 5px;
    color: white;
    font-family: "BPG Mikheil Stefane", sans-serif;
    
}


.nav {
        width: 100%;
            padding: 0 30px;
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 10;
            background-color: rgba(0, 0, 0, 0.5);
            gap: 50%;
}

nav a:hover {
    color: black;
}

.head1 {
    height: 100vh;
    background-color: black;
 }

li {
    font-size: 18px;
    color: white;
    text-align: center;
}

ul {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5%;

}



a {
    font-size: 18px;
    font-weight: bolder;
    color: white;
    font-family: "ArchyEDT-Bold", sans-serif;


}

.arrow {
    background: url("../img/arrow.png");
    background-size: contain;
    width: 100px;
    height: 100px;
    filter: brightness(0) invert(1);

}



.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.chest {
    background: url("../img/chest.jpg");
    background-repeat: no-repeat;
    max-width: 1100px;
    width: 100%;
    height: 500px;
    background-size: cover;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow:0px 0px 300px 5px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 300px 5px rgba(0,0,0,1);
    box-shadow: 0px 0px 300px 5px rgba(0,0,0,1);
    transition: 0.4s;

}

.chest p {
    font-family: 'MUSCULAR STRENGTH';
    font-size: 250px;
    margin: 0 auto;
    color: aliceblue;
    letter-spacing: 50px;
    transform: scale(1.05);
    

 }

 .abs {
        background: url("../img/abs.jpg");
        background-repeat: no-repeat;
        max-width: 1100px;
        width: 100%;
        height: 500px;
        background-size: cover;
        border-radius: 20px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-box-shadow:0px 0px 300px 5px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 300px 5px rgba(0,0,0,1);
        box-shadow: 0px 0px 300px 5px rgba(0,0,0,1);
        transition: 0.4s;

    }
 

    .abs p {
        font-family: 'MUSCULAR STRENGTH';
        font-size: 250px;
        margin: 0 auto;
        color: aliceblue;
        letter-spacing: 50px;
        transform: scale(1.05);
        
    
     }

    

     .chest:hover, .abs:hover {
        transform: scale(1.05);
    }





    footer .ftnav {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
      }
      footer .ftnav img {
        text-align: center;
      }
    
      .ftul {
        margin-top: 70px;
      }
    
      footer .ftnav .ftul {
        max-width: 850px;
        width: 100%;
        height: 100%;
        height: 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        text-align: center;
      }
      @media (max-width: 650px) {
        footer .ftnav .ftul {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          height: 250px;
        }
      }
      footer .ftnav .ftul .ftli a {
        font-family: "DM Sans", sans-serif;
        font-size: 18px;
        color: white;
      }
      
    
     @media (max-width: 1000px) {
        ul {
            display: none;
        }

        .chest, .abs {
            width: 660px;
            height: 300px;
            background-size: contain;
        }

        .chest p , .abs p {
            font-size: 200px;
        }
     }

     

     @media (max-width: 700px) {
        .chest p , .abs p {
            font-size: 100px;
        }

        .chest, .abs {
            width: 605px;
            height: 275px;
            background-size: contain;
        }
     }
     
      @media (max-width: 560px) {
        .fit {
            font-size: 40px;
        }
        h3 {
            font-size: 30px;
        }
        .arrow {
            width: 50px;
            height: 50px;
        }
        
        .chest, .abs {
            width: 405px;
            height: 185px;
            background-size: contain;
        }
        .chest p , .abs p {
            font-size: 80px;
        }
      }
    
      @media (max-width: 400px) {
        .chest, .abs {
            width: 300px;
            height: 137px;
            background-size: contain;
        }
        .chest p , .abs p {
            font-size: 50px;
            letter-spacing: 20px;
        }
      }

      @media (max-width: 280px) {
        .chest, .abs {
            width: 250px;
            height: 114px;
            background-size: contain;
        }
        .chest p , .abs p {
            font-size: 50px;
            letter-spacing: 20px;
        }
      }